* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
}

.container {
    width: 70%;
    padding-top: 80px;
    margin: 20px auto;
}

/* mix */

.btn {
    background-color: transparent;
    border: 0;
    font-size: 20px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color:rgb(95, 99, 104);
}

/* typo */

h2 {
    margin: 20px 0;
}

p {
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 27px;
}

header {
    padding: 0 40px;
}

main::before {
    content: " ";
    display: block;
    height: 1px;
    width: 100%;
    background-color: #ccc;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.intestazione .titolo {
    color: 	rgb(95, 99, 104);
    font-size: 22px;
    padding-bottom: 9px;
}

.intestazione, .utente {
    display: flex;
    align-items: center;
}

.intestazione img  {
    margin-right: 20px;
    cursor: pointer;
}

.utente__img {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    cursor: pointer;
}

.utente__img img {
    width: 100%;
}

nav .lista-link {
    display: flex;
    list-style: none;
}

nav .lista-link li {
    margin-right: 20px;
    transition: 0.2s ease-out;
}

.lista-link li:hover, .lista-link li:first-child {
    border-bottom: 3px solid #3367d6;
}

.active {
    color:#3367d6;
}